In [3]:
import pandas as pd

df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Desktop\\OLA DA Project\\Bengaluru Ola.csv")
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for Cancelling by Customer,Cancelled Rides by Driver,Reason for Cancelling by Driver,Incomplete Rides,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating
0,28/01/2024,6:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.42,18.46,...,NaN,0,NaN,0,NaN,868.06,Wallet,28.50,4.4,4.4
1,26/01/2024,3:00:00,CNR2871422,Cancelled by Driver,201414,Mini,Area-7,Area-6,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
2,15/01/2024,16:00:00,CNR6875935,Cancelled by Driver,301629,Bike,Area-40,Area-24,NaN,NaN,...,NaN,1,Personal & Car related issues,0,NaN,NaN,NaN,NaN,NaN,NaN
3,02/01/2024,22:00:00,CNR6798834,Cancelled by Driver,319684,Prime Sedan,Area-11,Area-24,NaN,NaN,...,NaN,1,The customer was coughing/sick,0,NaN,NaN,NaN,NaN,NaN,NaN
4,30/01/2024,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,NaN,NaN,...,NaN,0,NaN,1,Other Issue,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,02/01/2024,0:00:00,CNR7299340,Success,454202,eBike,Area-39,Area-34,11.53,2.42,...,NaN,0,NaN,0,NaN,1217.43,Card,10.52,4.1,3.2
49995,27/01/2024,2:00:00,CNR0378586,Success,349873,Auto,Area-17,Area-21,5.56,9.05,...,NaN,0,NaN,0,NaN,1369.51,UPI,11.04,5.0,4.3
49996,17/01/2024,23:00:00,CNR2461856,Cancelled by Driver,880053,Auto,Area-37,Area-43,NaN,NaN,...,NaN,1,More than permitted people in there,0,NaN,NaN,NaN,NaN,NaN,NaN
49997,18/01/2024,22:00:00,CNR9524579,Success,752806,eBike,Area-48,Area-29,5.15,13.72,...,NaN,0,NaN,0,NaN,1930.49,UPI,14.49,3.1,4.5
49998,28/01/2024,14:00:00,CNR3698787,Success,159552,Bike,Area-1,Area-37,14.89,28.07,...,NaN,0,NaN,0,NaN,1534.66,Cash,4.60,3.3,4.1

In [4]:
df.head()
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               49999 non-null  object
 1   Time                               49999 non-null  object
 2   Booking ID                         49999 non-null  object
 3   Booking Status                     49999 non-null  object
 4   Customer ID                        49999 non-null  int64
 5   Vehicle Type                       49999 non-null  object
 6   Pickup Location                    49999 non-null  object
 7   Drop Location                      49999 non-null  object
 8   Avg VTAT                           33484 non-null  float64
 9   Avg CTAT                           33484 non-null  float64
 10  Cancelled  by Customer             49999 non-null  int64
 11  Reason for Cancelling by Customer  3799 non-null   object
 12  Cancelled Rides by Driver          49999 non-null  int64
 13  Reason for Cancelling by Driver    9610 non-null   object
 14  Incomplete Rides                   49999 non-null  int64
 15  Incomplete Rides Reason            3106 non-null   object
 16  Booking Value                      33484 non-null  float64
 17  Payment Method                     33484 non-null  object
 18  Ride Distance                      33484 non-null  float64
 19  Driver Ratings                     33484 non-null  float64
 20  Customer Rating                    33484 non-null  float64
dtypes: float64(6), int64(4), object(11)
memory usage: 8.0+ MB

(49999, 21)

In [5]:
df.describe()

,Customer ID,Avg VTAT,Avg CTAT,Cancelled by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,49999.000000,33484.000000,33484.000000,49999.000000,49999.000000,49999.000000,33484.000000,33484.000000,33484.00000,33484.000000
mean,550979.937539,10.481654,15.564320,0.075982,0.192204,0.062121,1023.374286,25.447143,4.00304,4.001726
std,258855.930945,5.490853,8.365313,0.264971,0.394036,0.241378,563.595072,14.175953,0.57968,0.579177
min,100001.000000,1.000000,1.000000,0.000000,0.000000,0.000000,50.100000,1.000000,3.00000,3.000000
25%,328740.500000,5.730000,8.310000,0.000000,0.000000,0.000000,532.942500,13.100000,3.50000,3.500000
50%,552598.000000,10.460000,15.610000,0.000000,0.000000,0.000000,1023.350000,25.460000,4.00000,4.000000
75%,773970.000000,15.240000,22.790000,0.000000,0.000000,0.000000,1514.677500,37.670000,4.50000,4.500000
max,999991.000000,20.000000,30.000000,1.000000,1.000000,1.000000,2000.000000,50.000000,5.00000,5.000000

In [6]:
df.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                             16515
Avg CTAT                             16515
Cancelled  by Customer                   0
Reason for Cancelling by Customer    46200
Cancelled Rides by Driver                0
Reason for Cancelling by Driver      40389
Incomplete Rides                         0
Incomplete Rides Reason              46893
Booking Value                        16515
Payment Method                       16515
Ride Distance                        16515
Driver Ratings                       16515
Customer Rating                      16515
dtype: int64

In [10]:
text_cols = [
    'Booking Status','Vehicle Type',
    'Pickup Location','Drop Location'
]

for col in text_cols:
    df[col] = df[col].str.strip().str.title()

In [11]:
df['Ride Outcome'] = df['Booking Status'].map({
    'Success': 'Completed',
    'Cancelled By Driver': 'Cancelled',
    'Cancelled By Customer': 'Cancelled',
    'Incomplete': 'Incomplete'
})

In [12]:
df[['Booking Value','Ride Distance','Driver Ratings','Customer Rating']] = (
    df[['Booking Value','Ride Distance','Driver Ratings','Customer Rating']]
)

In [13]:
df['Month'] = df['Date'].dt.to_period('M').astype(str)

In [14]:
df['Customer_Cancel'] = df['Cancelled  by Customer'].apply(lambda x: 'Yes' if x==1 else 'No')
df['Driver_Cancel'] = df['Cancelled Rides by Driver'].apply(lambda x: 'Yes' if x==1 else 'No')

In [15]:
total_revenue = df['Booking Value'].sum()

In [16]:
cancelled_rides = df[df['Ride Outcome']=='Cancelled'].shape[0]
total_rides = df.shape[0]

cancellation_rate = (cancelled_rides / total_rides) * 100

In [17]:
vehicle_perf = df.groupby('Vehicle Type')['Booking Value'].sum().sort_values(ascending=False)

In [18]:
df['Reason for Cancelling by Driver'].value_counts().head(10)
df['Reason for Cancelling by Customer'].value_counts().head(10)

Reason for Cancelling by Customer
Driver is not moving towards pickup location    793
AC is not working                               792
Change of plans                                 756
Driver asked to cancel                          738
Wrong Address                                   720
Name: count, dtype: int64

In [19]:
df

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Incomplete Rides Reason,Booking Value,Payment Method,Ride Distance,Driver Ratings,Customer Rating,Ride Outcome,Month,Customer_Cancel,Driver_Cancel
0,2024-01-28,06:00:00,CNR1721175,Success,329258,Auto,Area-3,Area-2,5.42,18.46,...,NaN,868.06,Wallet,28.50,4.4,4.4,Completed,2024-01,No,No
1,2024-01-26,03:00:00,CNR2871422,Cancelled By Driver,201414,Mini,Area-7,Area-6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cancelled,2024-01,No,Yes
2,2024-01-15,16:00:00,CNR6875935,Cancelled By Driver,301629,Bike,Area-40,Area-24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cancelled,2024-01,No,Yes
3,2024-01-02,22:00:00,CNR6798834,Cancelled By Driver,319684,Prime Sedan,Area-11,Area-24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cancelled,2024-01,No,Yes
4,2024-01-30,22:00:00,CNR9661713,Incomplete,330283,Bike,Area-41,Area-45,NaN,NaN,...,Other Issue,NaN,NaN,NaN,NaN,NaN,Incomplete,2024-01,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,2024-01-02,00:00:00,CNR7299340,Success,454202,Ebike,Area-39,Area-34,11.53,2.42,...,NaN,1217.43,Card,10.52,4.1,3.2,Completed,2024-01,No,No
49995,2024-01-27,02:00:00,CNR0378586,Success,349873,Auto,Area-17,Area-21,5.56,9.05,...,NaN,1369.51,UPI,11.04,5.0,4.3,Completed,2024-01,No,No
49996,2024-01-17,23:00:00,CNR2461856,Cancelled By Driver,880053,Auto,Area-37,Area-43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cancelled,2024-01,No,Yes
49997,2024-01-18,22:00:00,CNR9524579,Success,752806,Ebike,Area-48,Area-29,5.15,13.72,...,NaN,1930.49,UPI,14.49,3.1,4.5,Completed,2024-01,No,No
49998,2024-01-28,14:00:00,CNR3698787,Success,159552,Bike,Area-1,Area-37,14.89,28.07,...,NaN,1534.66,Cash,4.60,3.3,4.1,Completed,2024-01,No,No

In [20]:
df.to_csv("Ola_Bengaluru_Cleaned.csv", index=False)